<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MICROSOFT WORLD</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
      .big {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .link{
        text-align: center;
      }
      </style>
  </head>

  <body>
    <img src= "https://lh4.googleusercontent.com/pXHjD24yEgq-dS4608mPL7iR_Oo44OD4PUvDe6Uq6fSp5JmT1pbtfFYTvvMC2LXNvBUQq1RgUsagkhNgvcBMtnc=w16383" alt = "logo" width=56 height=56>
  <p4>MICROSOFT WORLD</p4>
    </br>
    <img src="https://lh6.googleusercontent.com/eeLkXK_Yq155rsNqOzOCdziiKq45C1aYQ58xDYlqLMdWg8Atjkfhgtkvj4UAs3lhVxJg74B5zoh4_d2y1VzM3G2olJPG7ktD0-uPUn_C6ho8-Bj5yEdmkpwJG_RixmHzwg=w1280" alt="microsoft" width=492.59 height=270.52 class=big>
    </br>
    <div class=link>
      <a href='http://localhost:8080/sign-in' class=link>UPDATE YOUR MAIL >>></a>

    </div>

  </body>

</html>